<header class="bg-dark">
      <nav class="navbar navbar-expand navbar-dark container justify-content-between">
        <a href="" ><img src="images/2.png" style="width: 100px" alt="logo"></a>
        <span class="navbar-brand">S.U.V Concession</span>
        <ul class="navbar-nav">

          <li class="nav-item"><a href=" {{ path("accueil") }} " class="nav-link">Accueil</a></li>
          <li class="nav-item"><a href=" {{ path("inscription") }} " class="nav-link">Inscription</a></li>
          <li class="nav-item"><a href=" {{ path("login") }}" class="nav-link">Connexion</a></li>
          <li class="nav_item"><a href="{{ path("gestion") }}" class="nav-link">Gestionnaire</a></li>
          <li class="nav-item"><a href="{{ path("mentions_legales") }}" class="nav-link">Mentions légales</a></li>

        </ul>
      </nav>

      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/car-7309995_1280.jpg" class="d-block w-100 object-fit-cover" style="height:300px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/lamborghini-urus-3997109_1280.jpg" class="d-block w-100 object-fit-cover" style="height:300px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/saurabh-yadav-TSb7Sw1CpaM-unsplash.jpg" class="d-block w-100 object-fit-cover" style="height:300px" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </header>