{% extends "bootstrap.html.twig" %}

{% block body %}

<h1 class="display-5 text-center mt-3 mb-3">Gestionnaire d'utilisateurs</h1>

  <table class="table text-center border ">
  <thead class="text-capitalize ">
    <td class="fw-bold border bg-light text-uppercase">#</td>
    <td class="fw-bold border bg-light text-uppercase">email</td>
    {# <td class="fw-bold border bg-light text-uppercase">password</td> #}
    <td class="fw-bold border bg-light text-uppercase">pseudo</td>
    <td class="fw-bold border bg-light text-uppercase">action</td>
  </thead>
  <tbody>
  {% for key, value in user %}
    
    <tr>
      {# <td class="bg-secondary"></td> #}
      <th class="fw-bold bg-light">{{value.id}}</th>
      <td class="fw-bold bg-light">{{value.email}}</td>
      {# <td class="fw-bold bg-light">{{value.password}}</td> #}
      <td class="fw-bold bg-light">{{value.pseudo}}</td>
      <td>
     
      <a href="{{path("modifierUser",  {id : value.id }) }}"><input type="submit" value="modifier" class="btn btn-outline-warning my-2" style="width:100px"><br></a>

      <a href="{{path("supprimerUser",  {id : value.id }) }}"><input type="submit" value="supprimer" class="btn btn-outline-danger my-2" style="width:100px"><br></a>
      </td>
  
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td class="fw-bold ">Ajouter un utilisateur</td>
      <td>
        <a href="{{ path("ajouterUser") }}"><input type="submit" value="ajouter" class="btn btn-outline-success mb-1"
          style="width:100px">
        </a>
      </td>
    </tr>
  </tfoot>

</table>

{% endblock %}