{% extends 'bootstrap.html.twig' %}

{% block title %}Inscriptions{% endblock %}

{% block body %}
    <h1 class="display-5 text-center">Inscriptions</h1>
.
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div class="mb-1 col-6  mx-auto">{{ form_row(registrationForm.pseudo) }}</div>
        <div class="mb-1 col-6  mx-auto">{{ form_row(registrationForm.email) }}</div>
        <div class="mb-1 col-6  mx-auto">{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</div>
        <div class="mb-1 col-6  mx-auto">{{ form_row(registrationForm.date_creation) }}</div>
        <div class="my-2 col-6  mx-auto">{{ form_row(registrationForm.agreeTerms) }}</div>

    {{ form_end(registrationForm) }}
{% endblock %}
